<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新闻列表页</title>
		<link rel="stylesheet" type="text/css" href="http://localhost/NewsRelease/dist/css/EditorStyle.css">
		<link rel="stylesheet" type="text/css" href="http://localhost/NewsRelease/dist/css/bootstrap.min.css">
		<style>

		</style>
	</head>
	<body>
	<div class="myWrapper">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#finance" aria-controls="" role="tab" data-toggle="tab">财经</a></li>
			<li role="presentation"><a href="#sports" aria-controls="" role="tab" data-toggle="tab">体育</a></li>
			<li role="presentation"><a href="#entertainment" aria-controls="" role="tab" data-toggle="tab">娱乐</a></li>
			<li role="presentation"><a href="#building" aria-controls="" role="tab" data-toggle="tab">房产</a></li>
			<li role="presentation"><a href="#technical" aria-controls="" role="tab" data-toggle="tab">科技</a></li>、
			<li role="presentation"><a href="#car" aria-controls="" role="tab" data-toggle="tab">汽车</a></li>
		</ul>

		<div class="tab-content" style="">
			<div role="tabpanel" class="tab-pane active" id="finance">
				<ul class="media-list">
					<li class="media">
						<div class="media-left">
							<a href="#">
								<img style="width: 50px;height:50px;" class="media-object" src="..." alt="...">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
						</div>
					</li>
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane" id="sports">

			</div>
			<div role="tabpanel" class="tab-pane" id="entertainment">

			</div>
			<div role="tabpanel" class="tab-pane" id="building">

			</div>
			<div role="tabpanel" class="tab-pane" id="technical">

			</div>
			<div role="tabpanel" class="tab-pane" id="car">

			</div>
		</div>

	</div>
	<script type="text/javascript" src="http://localhost/NewsRelease/dist/js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://localhost/NewsRelease/dist/js/lib/bootstrap.min.js"></script>
	</body>
</html>
